<h3>User</h3>
<p>Name: <%= @user.name if @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<p>Devices: </p>
  <ul>
    <%= content_tag(:li, 'Printer') if @user.user_devices.printer %>
    <%= content_tag(:li, 'Scanner') if @user.user_devices.scanner %>
    <%= content_tag(:li, 'fax') if @user.user_devices.fax %>
  </ul>